$primary : red;

%message-popup{
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

body{
    // background-color: $primary;
    padding: 0px;
    // @extend %message-popup; 
    position: relative;
    &::-webkit-scrollbar {
        width: 0em;
    }   
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    } 
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 0px solid slategrey;
    }
}
.App{
    position: relative;
}
.site-wrapper{
    padding-top: 56px;
}