.product-details {
    .content-container {
        text-align: left;

        h4 {
            padding-left: 10px;
            font-weight: bold;

            span {
                font-size: 12px;
            }
        }

        .rating-assured {
            div.logo-assured-wrapper {
                margin-left: 20px;
                background: blue;
                padding: 5px;
                border-radius: 10px;
                color: #fff;

                .logo-assured {
                    width: 15px;
                }

                span {
                    font-size: 10px;
                    font-weight: bold;
                }
            }

            button {
                font-size: 12px;
                display: inline-flex;
                align-items: center;

                img {
                    width: 12px;
                    margin-left: 5px;
                }
            }
        }

        .offers {
            img {
                margin-right: 10px;
            }
        }
    }
    .related-product {
        .related-product-wrapper {
            .feature-product {
                cursor: pointer;
                transition: 0.5s;

                .wrappers-ptoduct {
                    transition: 0.5s;
                    border-radius: 15px;

                    h6 {
                        font-size: 15px;
                        height: 75px;
                    }

                    img {
                        width: 200px;
                        height: 150px;
                        transition: 0.5s;
                    }

                    h5 {
                        font-weight: bold;
                        background-color: bisque;
                    }

                    .rating-assured {
                        div.logo-assured-wrapper {
                            margin-left: 20px;
                            background: blue;
                            padding: 5px;
                            border-radius: 10px;
                            color: #fff;

                            .logo-assured {
                                width: 15px;
                                height: auto !important;
                            }

                            span {
                                font-size: 10px;
                                font-weight: bold;
                            }
                        }

                        h4 {
                            padding-left: 10px;
                            font-weight: bold;

                            span {
                                font-size: 12px;
                            }
                        }

                        button {
                            font-size: 12px;
                            display: inline-flex;
                            align-items: center;

                            img {
                                width: 12px;
                                margin-left: 5px;
                                height: auto !important;
                            }
                        }
                    }

                    // &:hover .product-img{
                    //     transform: scale(1.1);
                    // }
                }

                &:hover .wrappers-ptoduct {
                    transform: scale(0.9);
                    box-shadow: 0px 0px 13px 0px rgba(13,110,243,1)
                }
            }
        }
    }
}